<aside class="sidebar light">
  <ul class="chapter">
    <li>
      <LinkTo @route="index">Introduction</LinkTo>
    </li>
    {{#each @model.links as |id index|}}
      <li>
        <LinkTo @route="rfc" @model={{id}}> <strong>{{inc index}}.</strong> {{id}} </LinkTo>
      </li>
    {{/each}}
  </ul>
</aside>

<main class="page-wrapper light">
  {{outlet}}
</main>
