<HeadLayout/>

<aside class="sidebar light">
  <ul class="chapter">
    <li>
      <LinkTo @route="index">Introduction</LinkTo>
    </li>
  </ul>

  <GroupedToc @model={{@model}} />
</aside>

<main class="page-wrapper light">
  {{outlet}}
</main>
