{{! template-lint-disable no-action no-curly-component-invocation no-implicit-this no-link-to-positional-params require-button-type }}
<div class="page">
  <div class="menu-bar">
    <div class="left-buttons">
      <button class="reset" {{action "toggleSidebar"}}>
        <FaIcon class="p2" @icon="bars" />
      </button>
    </div>
  </div>
  <div class="content">
    {{html-safe model.html}}
  </div>
</div>

{{#link-to "rfc" nextRFC class="nav-chapters next"}}
  <FaIcon class="margin-auto" @icon="angle-right" />
{{/link-to}}
