{{! template-lint-disable no-action }}
<div class="page">
  <div class="menu-bar">
    <div class="left-buttons">
      <button class="reset" type="button" {{action "toggleSidebar"}}>
        <FaIcon class="p2" @icon="bars" />
      </button>
    </div>
  </div>
  <div class="content">
    {{markdown-to-html @model.content tagName=""}}
  </div>
</div>

<LinkTo @route="rfc" @model={{this.nextRFC}} class="nav-chapters next">
  <FaIcon class="margin-auto" @icon="angle-right" />
</LinkTo>
