<div class="page">
  <div class="content">
    {{markdown-to-html @model.content tagName=""}}
  </div>
</div>

<LinkTo @route="rfc" @model={{this.nextRFC}} class="nav-chapters next">
  <FaIcon class="margin-auto" @icon="angle-right" />
</LinkTo>
