<div class="page">
  <div class="menu-bar">
    <div class="left-buttons">
      <i id="sidebar-toggle" class="fa fa-bars" {{action 'toggleSidebar'}}></i>
    </div>
  </div>
  <div class="content">
    {{{model.html}}}
  </div>
</div>

{{#link-to 'rfc' nextRFC class="nav-chapters next"}}
  <i class="fa fa-angle-right"></i>
{{/link-to}}
